n8n_workflow_simple_working.json
{
  "name": "Simple Working Auto-Adsense System",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 9
          }
        ]
      },
      "id": "cron",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "domain",
              "value": "hing.me"
            },
            {
              "name": "title",
              "value": "Automated Finance Content"
            },
            {
              "name": "body",
              "value": "This is an automated finance article generated by the Auto-Adsense system."
            }
          ]
        },
        "options": {}
      },
      "id": "set_data",
      "name": "Set Article Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://content-api:5055/ingest",
        "method": "POST",
        "responseFormat": "json",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "content_api",
      "name": "Create Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "http://bot-api:5001/enqueue/keyword",
        "method": "POST",
        "responseFormat": "json",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"keyword\":\"finance automation guide\"}"
      },
      "id": "enqueue_keyword",
      "name": "Enqueue Keyword",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [950, 300]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Article Data": {
      "main": [
        [
          {
            "node": "Create Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Article": {
      "main": [
        [
          {
            "node": "Enqueue Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
