n8n_working_workflow_fixed.json
{
  "name": "Content & Pinterest Automation - WORKING",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 10
          }
        ]
      },
      "id": "daily-trigger",
      "name": "Daily Content Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "// Generate quality content\nconst financeTopics = [\n  'mortgage refinancing strategies',\n  'high yield savings accounts comparison',\n  'retirement planning for millennials',\n  'investment portfolio diversification',\n  'debt consolidation options',\n  'emergency fund planning',\n  'tax optimization strategies',\n  'real estate investment basics'\n];\n\nconst randomTopic = financeTopics[Math.floor(Math.random() * financeTopics.length)];\n\nconst title = `${randomTopic.charAt(0).toUpperCase() + randomTopic.slice(1)} - Complete Guide 2024`;\n\nconst body = `# ${title}\n\n## Introduction\n\nIn today's financial landscape, understanding ${randomTopic} is crucial for building long-term wealth and financial security. This comprehensive guide will walk you through everything you need to know.\n\n## Key Benefits\n\n- Professional expert analysis\n- Step-by-step implementation guide  \n- Real-world examples and case studies\n- Actionable strategies you can use today\n\n## Getting Started\n\n### Step 1: Assessment\nFirst, evaluate your current financial situation and identify areas for improvement.\n\n### Step 2: Planning\nDevelop a clear strategy tailored to your specific goals and circumstances.\n\n### Step 3: Implementation\nPut your plan into action with our proven methodology.\n\n## Expert Tips\n\n1. **Start with the basics** - Build a solid foundation before advancing\n2. **Stay consistent** - Regular action leads to better results\n3. **Monitor progress** - Track your improvements over time\n4. **Seek guidance** - Don't hesitate to consult professionals when needed\n\n## Conclusion\n\nMastering ${randomTopic} is an investment in your financial future. Start implementing these strategies today and watch your financial health improve over time.\n\n*Ready to take action? Use our calculators and tools to get started.*`;\n\nreturn [{\n  json: {\n    keyword: randomTopic,\n    domain: 'hing.me',\n    title: title,\n    body: body,\n    timestamp: new Date().toISOString(),\n    slug: randomTopic.toLowerCase().replace(/\\s+/g, '-')\n  }\n}];"
      },
      "id": "content-generator",
      "name": "Generate Quality Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://content-api:5055/ingest",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "genericCredentialType",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{$json.domain}}"
            },
            {
              "name": "title", 
              "value": "={{$json.title}}"
            },
            {
              "name": "body",
              "value": "={{$json.body}}"
            },
            {
              "name": "slug",
              "value": "={{$json.slug}}"
            }
          ]
        }
      },
      "id": "create-article",
      "name": "Create Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 200]
    },
    {
      "parameters": {
        "url": "http://bot-api:5001/enqueue/keyword",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "genericCredentialType",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{$json.keyword}}"
            }
          ]
        }
      },
      "id": "enqueue-pinterest",
      "name": "Enqueue Pinterest Keyword",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Daily Content Trigger": {
      "main": [
        [
          {
            "node": "Generate Quality Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Quality Content": {
      "main": [
        [
          {
            "node": "Create Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enqueue Pinterest Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}